<!doctype html>
<html lang="en" ng-app="Website_App" ng-controller="Website_Controller">
    <head>
        <title>{{data.title}}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="./index.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>
        <script src="./config.js"></script>
        <script src="./index.js"></script>
    </head>
    <body class="Template_0">
        <div class="Index_Section Section">
        	<div class="Index_Content">
	        	<div class="Index_Title">{{data.title}}</div>
	        	<br><hr><br>
	        	<div class="Index_Menu">
		        	<div id="index_{{i}}" class="Section_Link Link" ng-repeat="(i, page) in data.sections">{{page.title}}</div>
		    	</div>
	    	</div>
        </div>
        <div id="section_{{i}}" class="Page_Container Section" ng-repeat="(i, section) in data.sections" hidden>
        	<div class="Icon_Back Back fa fa-chevron-circle-left"></div>
        	<div class="Page_Content">
	        	<div class="Section_Title">{{section.title}}</div>
	        	<hr>
	        	<div class="Section_Content" ng-bind-html="section.content"></div>
	        	<div class="Subsection_Container" ng-repeat="subsection in section.sections">
	        		<div class="Subsection_Title">{{subsection.title}}</div>
	        		<hr>
		            <div class="Subsection_Content" ng-bind-html="subsection.content"></div>
	        	</div>
        	</div>
        </div>
        <div id="temp" hidden>
        </div>
        <!-- Google Analytics -->
	    <script>
	      (function(i, s, o, g, r, a, m) {
	          i['GoogleAnalyticsObject'] = r;
	          i[r] = i[r] || function() {
	              (i[r].q = i[r].q || []).push(arguments)
	          }, i[r].l = 1 * new Date();
	          a = s.createElement(o),
	              m = s.getElementsByTagName(o)[0];
	          a.async = 1;
	          a.src = g;
	          m.parentNode.insertBefore(a, m)
	      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
	      ga('create', 'UA-90861913-1', 'auto');
	      ga('send', 'pageview');
	    </script>
	    <!-- End Google Analytics -->
	    <!-- Default Statcounter code for Carlos Toxtli Website
	    http://www.carlostoxtli.com -->
	    <script type="text/javascript">
	      var sc_project=11706293; 
	      var sc_invisible=1; 
	      var sc_security="d809fc4a"; 
	    </script>
	    <script type="text/javascript"
	    src="https://www.statcounter.com/counter/counter.js"
	    async></script>
	    <noscript><div class="statcounter"><a title="web statistics"
	    href="http://statcounter.com/" target="_blank"><img
	    class="statcounter"
	    src="//c.statcounter.com/11706293/0/d809fc4a/1/" alt="web
	    statistics"></a></div></noscript>
	    <!-- End of Statcounter Code -->
    </body>
</html>